In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [10]:
# Import the API key.
from config2 import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Massakory,TD,2021-08-14 16:53:35,12.9960,15.7293,84.00,68,99,6.29,overcast clouds
1,1,Waingapu,ID,2021-08-14 16:53:36,-9.6567,120.2641,76.23,83,29,12.06,scattered clouds
2,2,Rikitea,PF,2021-08-14 16:53:36,-23.1203,-134.9692,74.57,81,81,16.73,light rain
3,3,Innoshima,JP,2021-08-14 16:53:36,34.2833,133.1833,74.88,94,100,9.80,heavy intensity rain
4,4,Pundaguitan,PH,2021-08-14 16:53:37,6.3711,126.1689,82.94,72,96,6.85,overcast clouds

In [12]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current description     object
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Config view of the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Massakory,TD,2021-08-14 16:53:35,12.9960,15.7293,84.00,68,99,6.29,overcast clouds
1,1,Waingapu,ID,2021-08-14 16:53:36,-9.6567,120.2641,76.23,83,29,12.06,scattered clouds
4,4,Pundaguitan,PH,2021-08-14 16:53:37,6.3711,126.1689,82.94,72,96,6.85,overcast clouds
5,5,Usoke,TZ,2021-08-14 16:53:37,-5.1667,32.3500,77.23,26,15,6.08,few clouds
6,6,Touros,BR,2021-08-14 16:53:37,-5.1989,-35.4608,88.70,52,40,20.87,scattered clouds
7,7,Atuona,PF,2021-08-14 16:53:38,-9.8000,-139.0333,77.81,80,28,17.34,scattered clouds
9,9,Thinadhoo,MV,2021-08-14 16:53:39,0.5333,72.9333,82.92,72,54,16.33,broken clouds
11,11,Bethel,US,2021-08-14 16:53:39,41.3712,-73.4140,89.58,77,74,7.96,broken clouds
12,12,Santa Maria Del Oro,MX,2021-08-14 16:53:40,25.9333,-105.3667,76.84,46,19,6.69,few clouds
21,21,Victoria,HK,2021-08-14 16:50:28,22.2855,114.1577,82.45,86,100,8.39,overcast clouds

In [33]:
preferred_cities_df.count()

City_ID                229
City                   229
Country                228
Date                   229
Lat                    229
Lng                    229
Max Temp               229
Humidity               229
Cloudiness             229
Wind Speed             229
Current description    229
dtype: int64

In [38]:
preferred_cities_df=preferred_cities_df.dropna()

In [39]:
preferred_cities_df.count()

City_ID                228
City                   228
Country                228
Date                   228
Lat                    228
Lng                    228
Max Temp               228
Humidity               228
Cloudiness             228
Wind Speed             228
Current description    228
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
0             Massakory      TD     84.00  12.9960   15.7293
1              Waingapu      ID     76.23  -9.6567  120.2641
4           Pundaguitan      PH     82.94   6.3711  126.1689
5                 Usoke      TZ     77.23  -5.1667   32.3500
6                Touros      BR     88.70  -5.1989  -35.4608
7                Atuona      PF     77.81  -9.8000 -139.0333
9             Thinadhoo      MV     82.92   0.5333   72.9333
11               Bethel      US     89.58  41.3712  -73.4140
12  Santa Maria Del Oro      MX     76.84  25.9333 -105.3667
21             Victoria      HK     82.45  22.2855  114.1577

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    hotels
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Massakory,TD,84.00,12.9960,15.7293,
1,Waingapu,ID,76.23,-9.6567,120.2641,Pondok Wisata Elim
4,Pundaguitan,PH,82.94,6.3711,126.1689,Leonardo Family Beach House 1
5,Usoke,TZ,77.23,-5.1667,32.3500,
6,Touros,BR,88.70,-5.1989,-35.4608,INN NEW HORIZON
7,Atuona,PF,77.81,-9.8000,-139.0333,Villa Enata
9,Thinadhoo,MV,82.92,0.5333,72.9333,
11,Bethel,US,89.58,41.3712,-73.4140,Courtyard by Marriott Danbury
12,Santa Maria Del Oro,MX,76.84,25.9333,-105.3667,Hotel Palacio Del Sol
21,Victoria,HK,82.45,22.2855,114.1577,Mini Hotel Central

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))