## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation = os.path.join("..","Vacation_Search","WeatherPy_vacation.csv")

# Read the vacation Data
clean_hotel_df = pd.read_csv(vacation)
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,0,Torbay,CA,81.37,light rain,47.6666,-52.7314,Gallows Cove
1,3,Rikitea,PF,74.48,clear sky,-23.1203,-134.9692,People ThankYou
2,4,Jamestown,US,72.30,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,6,Kieta,PG,78.24,light rain,-6.2167,155.6333,Uruna Bay Retreat
4,10,Great Bend,US,78.40,broken clouds,38.3645,-98.7648,Best Western Angus Inn
5,12,Hirara,JP,82.89,clear sky,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
6,13,Moyale,KE,74.28,overcast clouds,3.5167,39.0584,La Tahzan Guest House
7,18,Nakamura,JP,75.00,light rain,32.9833,132.9333,Hotel Crown Hills Nakamura
8,19,Castro,BR,70.09,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
9,21,Hilo,US,72.63,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Acapulco"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Acapulco"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Ixtapa"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Chalchihuites"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Matamoros"]

In [17]:
vacation_start

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
72,199,Acapulco,MX,87.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')
waypoints = [stop1,stop2,stop3]

Start: (16.8634, -99.8901), End: (16.8634, -99.8901)
Stop 1: (20.7, -105.2), Stop 2: (23.4833, -103.8833), Stop 3: (25.5333, -103.25)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=waypoints,
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,199,Acapulco,MX,87.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,262,Ixtapa,MX,84.22,clear sky,20.7000,-105.2000,Hotel Plaza Providencia
2,407,Chalchihuites,MX,70.16,broken clouds,23.4833,-103.8833,Hotel Posada Real
3,330,Matamoros,MX,83.10,few clouds,25.5333,-103.2500,Quinta Belem

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(start), zoom_level=6)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=waypoints,
        travel_mode='DRIVING', show_markers=False)
fig.add_layer(marker_layer)
fig.add_layer(city_itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))